<form action="/formdata" method="get">
    <label for="name">Name:</label>
    <input id="name" name="name">

    <label for="age">Age:</label>
    <input id="age" name="age">

    <label for="pnumber">Phone Number:</label>
    <input id="pnumber" name="pnumber">

  <input type="submit">
</form>
