.page{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: aquamarine;
}

.banner{
    min-height: 10vh;
    max-width: 1000px;
    margin: 0 auto 16px;
    background-color: darkred;
    border: 2px solid red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-decoration: underline;
    font-size: 4em;
    margin-left: 25px;
}

p{
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid darkblue;
    background-color: aqua;
    padding: 16px;
}

a:hover{
    color: yellowgreen;
}